.main {
	background-color:#ffffff;
	padding:20px;
}

.main_image {
	width: 98%;
	height: 100%;
	margin: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.main_row {
	display: flex;
	justify-content: space-between;	
	margin: 10px;
}
.main_section {
	flex:auto;
	margin-right:15px;
}
.main_section .section_title {
	position:relative;
	font-size:20px;
	font-weight: 500;
	border-bottom: 1px solid #f2f2f2;
	padding-bottom:5px;
}
.section_title .title_head {
	padding-bottom:9px;
	border-bottom:1px solid;
}
.main_section .section_content {
	padding-top:10px;
	padding-bottom:10px;
}
